/* XL Device :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .single-slider.slider-height {
    min-height: 700px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slide-img.slider-full > img {
    width: 62%;
    margin-top: 67px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider-height-3 .slider-content h1 {
    font-size: 74px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .single-slider.slider-height-3 {
    min-height: 600px;
  }
}

/* LG Device :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
  .header-top-area {
    padding: 0 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-bottom-area {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li {
    margin-left: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-button > a {
    padding: 14px 16px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-button {
    margin-left: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .wrapper-box {
    padding: 0 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slide-img > img {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .single-slider.slider-height {
    min-height: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .single-features {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .promotion-text {
    padding-bottom: 80px;
    padding-left: 20px;
    padding-top: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cta-img img {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .promo-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .single-couter.counter-2 > p {
    padding-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .single-couter.counter-2 {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-top-3 {
    padding: 20px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .language.language-header-3 {
    margin-top: 4px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider-height-3 .slider-content h1 {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .single-slider.slider-height-3 {
    min-height: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .testimonial-3 {
    padding: 20px 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .blog-space {
    padding-right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .why-chose {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .update-cart > a {
    margin-left: 0;
    padding: 14px 16px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .contact-info h2 {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .contact-meta {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .service-box {
    padding: 20px;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .service-box.service-3 {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li ul.submenu {
    left: -77px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .pormotext-style-2 {
    padding-top: 0px;
  }
}

/* MD Device :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .header-bottom-area {
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-slider.slider-height {
    min-height: 550px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-features h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-features {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .promotion-text {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper-box {
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-link > li {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-widget > h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .promo-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-couter.counter-2 > p {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-couter.counter-2 {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-style-3.mean-container a.meanmenu-reveal {
    margin-top: -29px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-height-3 .slider-content h1 {
    font-size: 55px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-slider.slider-height-3 {
    min-height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .promotion-img-3 {
    width: 100%;
    min-height: 400px;
    position: inherit;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial-3 {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-title-area {
    padding: 100px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .post-comments-form {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-space {
    padding-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .job-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .update-cart > a {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .update-cart {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-info {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service-box.service-3 {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-top-area {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pormotext-style-2 {
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .white-menu {
    padding: 0 30px;
    padding-top: 15px;
  }
}

/* Extra small Device. */

@media (max-width: 767px) {
  .header-top-area {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .header-right li {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .header-bottom-area {
    padding: 17px 10px 4px;
  }
}

@media (max-width: 767px) {
  .wrapper-box {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .single-slider.slider-height {
    min-height: 550px;
  }
}

@media (max-width: 767px) {
  .slider-content h1 {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 767px) {
  .slider-content p {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .slider-content span {
    letter-spacing: 2px;
  }
}

@media (max-width: 767px) {
  .features-title > h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .promotion-text {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .portofilo-menu > button {
    margin: 0 2px 5px;
  }
}

@media (max-width: 767px) {
  .cap.text-center > img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .single-brand > a {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .single-brand {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .cta-img img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .portfolio-menu > button {
    margin: 0 3px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .single-couter.counter-2 > p {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .single-couter.counter-2 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .portfolio-menu {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .menu-style-3.mean-container a.meanmenu-reveal {
    margin-top: -29px;
  }
}

@media (max-width: 767px) {
  .header-top-3 {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .slider-height-3 .slider-content h1 {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .single-slider.slider-height-3 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .promotion-img-3 {
    position: inherit;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .promotion-text.promo-2 {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .testimonial-3 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .page-title h1 {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .page-title-area {
    padding: 100px 0;
  }
}

@media (max-width: 767px) {
  .blog-post .blog-item-content h3 a {
    font-size: 23px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  .blockquote {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .blog-share-icon {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .comments-text {
    padding-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .comments-avatar {
    float: none;
  }
}

@media (max-width: 767px) {
  .comments-reply {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .post-comments-form {
    padding-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .blog-space {
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .why-chose {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .job-list {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .update-cart > a {
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .update-cart {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .coupon-left input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .coupon-left button {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .contact-info {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .extra-info {
    width: 300px;
    z-index: 9999;
  }
}

@media (max-width: 767px) {
  .project-status {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .product-filder .nice-select {
    float: left;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .product-tab {
    float: none;
    width: auto;
  }
}

@media (max-width: 767px) {
  .product-zoom-img .tab-content {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .product-tab .nav-link {
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .product-desc h2 {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .product-desc .nice-select {
    margin-left: 4px;
  }
}

@media (max-width: 767px) {
  .pro-details-action a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 767px) {
  .review-tab .nav-item {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .pro-commnets-text {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .pro-comments-img {
    float: none;
  }
}

@media (max-width: 767px) {
  .white-menu {
    padding: 0 30px;
    padding-top: 15px;
  }
}

@media (max-width: 767px) {
  .white-menu {
    padding: 0 8px;
    padding-top: 15px;
  }
}

@media (max-width: 767px) {
  .width-100-xs {
    width: 100%;
  }
}

/* SM Small Device :550px. */

